<h1>Editing server</h1>

<% form_for(@server) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :apikey %><br />
    <%= f.text_field :apikey %>
  </p>
  <p>
    <%= f.label :last_heartbeat %><br />
    <%= f.text_field :last_heartbeat %>
  </p>
  <p>
    <%= f.label :known_server_ip %><br />
    <%= f.text_field :known_server_ip %>
  </p>
  <p>
    <%= f.label :Account %><br />
    <%= f.text_field :Account %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @server %> |
<%= link_to 'Back', servers_path %>